*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: #111;
     height: 100%;
     width: 200%;
}
#box1{
     height: 300px;
     width: 300px;
     border-radius: 5px;
     background-color: rgba(255, 0, 0, 0.655);
}
#box2{
     height: 300px;
     width: 300px;
     border-radius: 5px;
     background-color: rgba(0, 255, 76, 0.655);
}